<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Log in using your Email and Password.</h1>
  
        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="email">Email</label>: <input type="text" name="email" id="name"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="address"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <p></p>
    </body>
</html>
